[Unit]
Description=Spotify desktop bridge for Radai
Requires=radai-xvfb.service
After=radai-xvfb.service

[Service]
Type=simple
Environment=DISPLAY=:99
ExecStart=/snap/bin/spotify --remote-debugging-port=9223 --remote-allow-origins=* --disable-gpu
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
